
.button-container{
   
    text-align: center;
    position: relative;

}
.btn-eliminar{

    position: absolute;
    right: 0;
    height: 50px
}

.btn-agregar{

    position: absolute;
    left: 0;
    height: 50px
}